html {
    min-height: 100%;
    position: relative;
    text-align: center;
}

.game {
    text-align: center;
}

.game-list {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 640px;
    margin: -10px;
}

.game-list__item {
    width: calc((25%) - 20px);
    margin: 10px;
}

.game-list__card {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #000;
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
    /* backface-visibility: hidden; */
}

.game-list__card--flip {
    transform: rotateY(180deg);
}

.game-list__type1 {
    background: url('/assets/img/card1.jpg') no-repeat center center;
    background-size: 90%;
}

.game-list__type2 {
    background: url('/assets/img/card2.jpg') no-repeat center center;
    background-size: 90%;
}

.game-list__type3 {
    background: url('/assets/img/card3.jpg') no-repeat center center;
    background-size: 90%;
}

@media (max-width: 767px) {
    .game-list {
        margin: -5px;
        max-width: 330px;
    }

    .game-list__item {
        width: calc((33.33%) - 10px);
        margin: 5px;
    }

    .game-list__card {
        width: 100px;
        height: 100px;
    }
}